@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

h1 {
    color: #e53170;
    text-align: center;
    margin-top: 50px;
    font-family: 'Nerko One';
    height: 144px;
}
header p{
    text-align: center;
    margin-right: 22px;
}